*{
    font-family: Graphik Regular;
}
body{
    background-color: none;
    background-image: url(Images/i1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   
}
.login-div{ 
    margin: auto;
    margin-top: 30px;
    width: 340px;
    background-color: #edededd4;
    padding: 50px;
}
.logo{
    background-color: none;
    border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin:0 auto;
    margin-bottom: 10px;
}
.logo img{
    width:none;
    margin-top: 40px;
}
.title, .sub-title{
    text-align: center;
    color: #000;
}
.title{
    font-weight: bolder;
    font-size: 35px;
}
.sub-title{
    font-size: 14px;
}
.form{
    width: 100%;
    margin-top: 30px;
}
.form input{
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;   
}
.username, .password{
    display: block;
    border-radius: 25px;
    border: 2px solid #ff8a00;
    padding: 10px;
    margin: 10px 0;
}

.form svg{
    height: 25px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;
    margin-bottom: 30px;

}

.button{
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background-color:#ff6f00fe;
    color: #fff;
    margin-bottom: 5px;
   
}
.sign-in{
    text-align: center;

}
a{
    text-decoration: none;
    color: #000000;
}
.b{
    color:#fff;
}
